table,th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    word-wrap:break-word;
}
th.title {
    background: yellow;
    color: green;
}
td.label {
    color:green;
}
td.lock {
    border: 1px solid darkgray;
}
td.road {
    background-color:gray;
}
td.total {
    background: orange;
    color: green;
    font-weight: bold;
}
td.number {
    text-align: right;
}
td.building {
    border: 1px solid black;
    word-wrap:break-word;
    width:20px;
}
td.fire {
    color:darkred;
}
td.police {
    color: red;
    background-color: blue;
}
td.health {
    color: blue;
}
td.government {
    color: white;
    background-color: green;
}
td.power {
    color: red;
}
td.water {
    color: white;
    background-color: #1EADFF;
}
td.sewage {
    color: white;
    background-color: #996600;
}
td.waste {
    color: white;
    background-color: #999966;
}
td.park {
    color: black;
    background-color: green;
}
td.edu {
    color: yellow;
    background-color: #A35B47;
}
td.trans {
    color: red;
    background-color: green;
}
td.gambling {
    color: yellow;
    background-color: red;
}
td.landmark {
    color: #f8f8ff; /* ghost white */
    background-color: #87ceeb; /* sky blue */
}
td.entertainment {
    color: gold;
    background-color: black;
}
td.worship {
    color: #ffdead; /* Navajo White */
    background-color: blue;
}
td.beach {
    color: blue;
    background-color: #F4A460; /* sandy brown */
}
td.mountain {
    color: grey;
    background-color: #000000;
}
td.beachRoad {
    color: #d1853a;
}
td.rz {
    color: gray;
}
td.tt {
    color: gray;
    width: 40px;
    height: 40px;
    background-repeat:no-repeat;
    background-size: 40px 40px;
    background-image: url("static/images/tokyo.jpg");
}
td.pz {
    color: gray;
    width: 40px;
    height: 40px;
    background-repeat:no-repeat;
    background-size: 40px 40px;
    background-image: url("static/images/pari.jpg");
}
td.text {
    text-align: left;
}
td.invisible {
    color: white;
    background-color: white;
}
div.inCell {
    border: solid 0 black;
    border-bottom-width:1px;
}
